/* Existing styles */
.education-main-wrapper {
    position: relative;
    height: 100%;
    background-color: #19182E;
    color: rgb(174, 173, 173);
    width: 100%;
    min-width: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centers text inside the elements */
}

.school-wrapper {
    display: flex;
    position: relative; 
    left: 0;
    justify-content: center; /* Centers horizontally within the flex container */
    width: 90%; /* Adjust as needed to fit within the parent container */
}

.school-wrapper p {
    font-size: 180%;
    padding-right: 10%;
}

.coursework-stack {
    position: relative;
    left: 0;
    font-size: 140%;
    padding-right: 10%;
    width: 90%; /* Adjust as needed to fit within the parent container */
}

.coursework-stack p {
    margin-top: 1%;
}

.school-logo {
    width: auto;
    height: 10%;
    margin-right: 2%;
}

.education-title {
    position: relative;
    left: 0;
    font-size: 200%;
}

.coursework-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    text-align: left; /* Left-aligns the text within the content */
    width: 100%; /* Adjust as needed to fit within the parent container */
}

.coursework-content p {
    width: 100%;
    max-width: 600px; /* Adjust max-width to fit your design */
}

/* Media queries */
@media screen and (max-width: 600px) {  
    .school-logo {
      height: auto;
      margin-right: 2%;
      max-width: 60%;
    }

    .school-wrapper {
        display: flex; 
        flex-direction: column;
        align-items: center; /* Centers along the horizontal axis */
        text-align: center; /* Centers text inside the elements */
    }

    .school-wrapper p {
        padding-left: 10%;
    }
}

@media screen and (max-width: 1200px) {  
    .school-logo {
      width: auto;
      height: 120px;
      margin-right: 2%;
    }
}

@media screen and (max-width: 800px) {  
    .coursework-content {
        padding-left: 10%;
    }
}
