.education-main-wrapper {
    position: relative;
    height: 100%;
    background-color: #19182E;
    color: rgb(174, 173, 173);
    border: 10px solid rgba(255, 255, 255, 0.2);
    width: 200%;
}

.school-wrapper {
    display: flex;
    position: relative; 
    left: 5%;
}

.school-wrapper p {
    font-size: 180%;
}

.coursework-stack {
    position: relative;
    left: 5%;
    font-size: 140%;
}

.coursework-stack li {
    margin-top: 1%;
}

.school-logo {
    width: auto;
    height: 10%;
    margin-right: 2%;
}

.education-title {
    position: relative;
    left: 20%;
    font-size: 200%;
}