.box {
    width: 50%;
    background-color: grey;
    transition: transform 0.3s ease;
    font-size: 180%;
    min-width: 300px; /* Adjust this value as needed */
    min-height: 200px; /* Adjust this value as needed */
}

.three {
    position: relative; 
    background-color: #041628; 
    color: rgb(174, 173, 173);
    border: 10px solid rgba(255, 255, 255, 0.2);
    padding-left: 5%;
    padding-right: 5%;
}

.box:hover {
    transform: translateY(-5%); 
    /* translateY moves the element up (negative value) on hover */
}

