.main-project-wrapper {
    width: 300%;
    font-size: 120%;
}

.main-project-wrapper button {
    border: none;
    background-color: transparent;
    color: white;
    margin-right: 20px;
    font-size: 100%;
}

.project-container {
    width: 150%;
}

.project {
    width: 150%;
    display: flex;
}

.project-six-info {
    width: 100%;
}

.info {
    width: 50%;
    position: relative;
}

