.main-project-wrapper {
    width: 100%;
    font-size: 120%;
    color: rgb(174, 173, 173);
}

.main-project-wrapper button {
    border: none;
    background-color: transparent;
    color: rgb(174, 173, 173);
    margin-right: 20px;
    font-size: 100%;
}

.main-project-wrapper b {
    font-size: 110%;
    color: #bdbaba;
}

.project-container {
    width: 150%;
}

.project {
    width: 150%;
    display: flex;
}

.project-six-info {
    width: 100%;
}

.info {
    width: 50%;
    position: relative;
}

